# Raw data
data/

# Jupyter Notebooks
*.ipynb_checkpoints
*.ipynb

# .pyc files
*.pyc

# twitterscraper query
twitterscraper_query.txt

# Stanford Named Entity Recognition (NER) library
stanford-ner/
